<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare</title>
</head>
<body>
    <h1>Compare!</h1>


    <form action="/compare" method="post">
        <select name="sectors" id="sectors" required>
            <option value="" disabled selected>Select a sector</option>
            <option value="Financial">Financial</option>
            <option value="Tech">Tech</option>
            <option value="Communication_services">Communication services</option>
            <option value="Healthcare">Healthcare</option>
            <option value="Energy">Energy</option>
            <option value="Utilities">Utilities</option>
            <option value="Consumer_Cyclical">Consumer Cyclical</option>
            <option value="Industrials">Industrials</option>
            <option value="Real_Estate">Real Estate</option>
            <option value="Consumer_Defensive">Consumer Defensive</option> 
            <option value="Basic_Materials">Basic Materials</option> 
    
        </select>
    
        <select name="options" id="options" required>
            <option value="">Select an option</option>
            <option value="revenue">Revenue</option>
            <option value="total_current_assets">Total Current Assets</option>
            <option value="net_sales">Net Sales</option>
            <option value="cost_of_sales">Cost of Sales</option>
            <option value="operating_systems">Operating Systems</option>
            <option value="net_income">Net Income</option>
            <option value="earnings_per_share">Earnings per Share</option>
            <option value="total_current_liabilities">Total Current Liabilities</option>
    
        </select>

        <input type="submit" value="Login">

    </form>
    <div>
        <h2>Result: </h2>
        <p>{{ result }} </p>
    </div>

    
</body>
</html>
